* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F5F6;
    font-family: "Lato", Times, serif;
    color: #12141D;
    text-decoration: none;
}

/** Header Section**/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    padding: 1.5rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    padding: 20px;
}



.header-links {
    display: flex;
    gap: 2.5rem;
    justify-content: space-evenly;
    color: #12141D !important;
    font-weight: 700;
}


.header-links a {
    color: #000;
    text-decoration: none;
}

.header-links a:hover {
    color: #043A53;
}

.header-account {
    width: 12.125rem;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px
}

.account__button {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    background-color: #fff;
    font-weight: 800;
}

.hamburger {
    width: 1.5rem;
    height: 1.5rem
}

@media (max-width: 1025px) {

    .header-links {
        display: none;
    }

    .header-account {
        display: none;
    }

}

@media(min-width:1024px) {
    .hamburger {
        display: none;
    }
}